/* BODY */
body{}

/* HEADER */
.header{}

.header__h1{}

.header__rightSide{}

.headerRightSide__button{}

.headerRightSide__img{
    width: 3.125rem;
    height: 3.125rem;
}

.modal__newPost{}

.newPost__TopPart{}

.newPostTopPart__h2{}

.newPostTopPart__button{}

.newPost__input{}

.newPost__bottomPart{}

.newPostBottomPart__cancelButton{}

.newPostBottomPart__publishButton{}

.modal__logout{}

.logout__user{}

.logout__button{}

.logout__image{
    width: 3.125rem;
    height: 3.125rem;
}

/* MAIN */
.feed{}

.feed__line{}

.feed__posts{}

.post{}

.post__topPart{}

.topPart__left{}

.left__img{
    width: 3.125rem;
    height: 3.125rem;
}

.left__name{}

.left__data{}

.topPart__right{}

.right__editButton{}

.right__excludeButton{}

.post__h1{}

.post__p{}

.post__button{}

.modal__controler--update{}

.update__topPart{}

.updateTopPart__h1{}

.updateTopPart__button{}

.update__input{}

.update__cancelButton{}

.update__saveButton{}

.modal__controler--openPublication{}

.openPublication__topPart{}

.openPublicationTopPart__left{}

.openPublicationTopLeft__img{
    width: 3.125rem;
    height: 3.125rem;
}

.openPublicationTopLeft__name{}

.openPublicationTopLeft__date{}

.openPublicationTopPart__button{}

.openPublication__h1{}

.openPublication__p{}

.modal__deletePost{}

.deletePost__topPart{}

.deleteTopPart__h1{}

.deleteTopPart__button{}

.deletePost__h2{}

.deletePost__p{}

.deletePost__buttons{}

.deleteButtons__cancel{}

.deleteButtons__exclude{}
