/* BODY */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 36.4%;
    margin-right: 29.1%; */
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    width: 36.7%;
    margin-top: 7.4375rem;
    margin-bottom: 3.8719rem;
    position: relative;
}

.header__h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerRightSide__button{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: .25rem;
    border: none;
    background-color: hsl(230, 57%, 50%);
    cursor: pointer;
    color: hsl(200, 100%, 99%);
}

.headerRightSide__button:hover{
    background-color: hsl(230, 68%, 54%);
}

.headerRightSide__img{
    width: 2.5625rem;
    height: 2.5625rem;
    border-radius: 50%;
    border: 1px hsl(230, 57%, 50%) solid;
    margin-left: .75rem;
}

dialog{
    position: relative;
    top: 100px;
    left: 31.7%;
    width: 36.7%;
    border: none;
    border-radius: .5rem;
    background-color: hsl(200, 100%, 99%);
}

.modal__newPost{}

.newPost__form{
    margin-top: 2.0625rem;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    display: flex;
    flex-direction: column;
}

.newPost__TopPart{
    display: flex;
    justify-content: space-between;
}

.newPostTopPart__h2{
    padding: .25rem 0 .25rem 0;
}

.newPostTopPart__button{
    padding: .25rem .875rem .25rem .875rem;
    border-radius: .25rem;
    border: none;
    background-color: hsl(210, 16%, 93%);
    color: hsl(210, 7%, 56%);
    cursor: pointer;
    margin-bottom: 2.875rem;
}

.newPost__label{
    margin-bottom: .5rem;
}

.newPost__input{
    margin-bottom: 1.25rem;
    padding: .625rem 1.0625rem .625rem 1.0625rem;
    border-radius: .25rem;
    border: solid 1px hsl(0, 0%, 85%);
    color: hsl(210, 7%, 56%);
    background-color: hsl(210, 17%, 98%);
}

#conteudo{
    height: 7.5rem;
}

.newPost__input::placeholder{
    color: hsl(210, 7%, 56%);
}

#conteudo::placeholder{}

.newPost__bottomPart{
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    display: flex;
    justify-content: flex-end;
}

.newPostBottomPart__cancelButton{
    background-color: hsl(210, 16%, 93%);
    border: none;
    border-radius: .25rem;
    padding: .4375rem 1.25rem .4375rem 1.25rem;
    color: hsl(210, 7%, 56%);
    margin-right: 1rem;
}

.newPostBottomPart__publishButton{
    border: none;
    border-radius: .25rem;
    padding: .4375rem 1.25rem .4375rem 1.25rem;
    background-color: hsl(230, 57%, 50%);
    color: hsl(200, 100%, 99%);
}

.modal__logout{}

.logout__user{}

.logout__button{}

.logout__image{
    width: 3.125rem;
    height: 3.125rem;
}

/* MAIN */
.feed{
    width: 36.7%;

}

.feed__line{
    background-color: hsl(210, 17%, 98%);
    width: 272%;
    margin-left: -26.7188rem;
    padding-left: 26.7188rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.feed__posts{}

.post{}

.post__topPart{}

.topPart__left{}

.left__img{
    width: 3.125rem;
    height: 3.125rem;
}

.left__name{}

.left__data{}

.topPart__right{}

.right__editButton{}

.right__excludeButton{}

.post__h1{}

.post__p{}

.post__button{}

.modal__controler--update{}

.update__topPart{}

.updateTopPart__h1{}

.updateTopPart__button{}

.update__input{}

.update__cancelButton{}

.update__saveButton{}

.modal__controler--openPublication{}

.openPublication__topPart{}

.openPublicationTopPart__left{}

.openPublicationTopLeft__img{
    width: 3.125rem;
    height: 3.125rem;
}

.openPublicationTopLeft__name{}

.openPublicationTopLeft__date{}

.openPublicationTopPart__button{}

.openPublication__h1{}

.openPublication__p{}

.modal__deletePost{}

.deletePost__topPart{}

.deleteTopPart__h1{}

.deleteTopPart__button{}

.deletePost__h2{}

.deletePost__p{}

.deletePost__buttons{}

.deleteButtons__cancel{}

.deleteButtons__exclude{}
