/* MAIN */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* LEFT SIDE */
.leftSide{
    display: flex;
    flex-direction: column;
    width: 24.4375rem;
}

.leftSide__h1{
    margin-bottom: 1.5rem;
}

.leftSide__h2{
    margin-bottom: 1.5rem;
}

.leftSide__p{
    margin-bottom: 1.5rem;
    width: 20rem;
}

.leftSide__images{
    display: flex;
}

.images__left{
    margin-right: 1.125rem;
}

.imagesLeft__top{
    margin-bottom: 1.1875rem;
}

.imagesLeftTop__first{
    margin-right: 1rem;
}

/* .imagesLeftTop__second{} */

/* .imagesLeft__bottom{} */

/* .images__right{} */


/* RIGHT SIDE */
.rightSide{
    display: flex;
    flex-direction: column;
    margin-right: 6.9375rem;
    width: 23.0625rem;
    padding-top: 2.8125rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.75rem;
    border: 1px solid hsl(210, 16%, 93%);
    border-radius: 4px;

}


.rightSide__h2{
    margin-bottom: 1.625rem;
}

.login__label{
    margin-bottom: .75rem
}

.login__input{
    padding-top: .625rem;
    padding-bottom: .625rem;
    padding-left: 1rem;
    margin-bottom: 1.625rem;
    background-color: hsl(210, 16%, 93%);
    border: 1px solid hsl(210, 7%, 56%);
    border-radius: .25rem;
}

.login__input::placeholder{
    color: hsl(210, 7%, 56%);
}

.rightSide__loginButton{
    margin-bottom: 1.625rem;
    padding-top: .4375rem;
    padding-bottom: .4375rem;
    background-color: #364FC7;
    border: none;
    border-radius: 4px;
    color: hsl(200, 100%, 99%);
    cursor: pointer;    
}

.rightSide__loginButton:hover{
    background-color: hsl(230, 68%, 54%);
}

.rightSide__h3{
    text-align: center;
    margin-bottom: 1.25rem;
}

.rightSide__p{
    text-align: center;
    margin-bottom: 1.25rem;
    color: hsl(210, 9%, 31%);
}

.rightSide__registerButton{
    padding-top: .4375rem;
    padding-bottom: .4375rem;
    background-color: hsl(210, 17%, 98%);
    border: 1px solid hsl(210, 7%, 56%);
    border-radius: .25rem;
    cursor: pointer;
}

.rightSide__registerButton:hover{
    background-color: hsl(210, 16%, 93%);
}

















