/* BODY */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* LEFT SIDE */
.leftSide{
    display: flex;
    flex-direction: column;
    margin-right: 6.9375rem;
    width: 23.0625rem;
    padding-top: 2.8125rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.75rem;
    border: 1px solid hsl(210, 16%, 93%);
    border-radius: 4px;
    /* margin-top: 1%; */
}

.leftSide__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4375rem;
}

.leftSideTop__h2{
    padding: .5rem;
    padding-left: 0rem;
}

.leftSideTop__button{
    padding: .5rem;
    border-radius: 4px;
    border: solid 1px hsl(210, 16%, 93%);
    background-color: transparent;
    cursor: pointer;
}

.leftSideTop__button:hover{
    background-color: hsl(210, 17%, 98%);
}

.leftSide__label{
    margin-bottom: .75rem;
}

.leftSide__input{
    padding-top: .625rem;
    padding-bottom: .625rem;
    padding-left: 1rem;
    margin-bottom: 1.625rem;
    background-color: hsl(210, 16%, 93%);
    border: 1px solid hsl(210, 7%, 56%);
    border-radius: .25rem;
}

.leftSide__input::placeholder{
    color: hsl(210, 7%, 56%);
}

.leftSide__loginButton{
    padding-top: .4375rem;
    padding-bottom: .4375rem;
    margin-bottom: 1.625rem;
    background-color: #364FC7;
    border: none;
    border-radius: 4px;
    color: hsl(200, 100%, 99%);
    cursor: pointer;    
}

.leftSide__loginButton:hover{
    background-color: hsl(230, 68%, 54%);
}

.leftSide__registerButton{
    padding-top: .4375rem;
    padding-bottom: .4375rem;
    border: none;
    border-radius: 4px;
    border-radius: 4px;
    border: solid 1px hsl(210, 16%, 93%);
    background-color: transparent;
    cursor: pointer;
}

.leftSide__registerButton:hover{
    background-color: hsl(210, 17%, 98%);
}

/* RIGHT SIDE */
.rightSide{
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.rightSide__h1{
    margin-bottom: 1.5rem;
}

.rightSide__h2{
    margin-bottom: 1.5rem;
}

.rightSide__p{
    margin-bottom: 1.5rem;
}

.rightSide__images{
    display: flex;
}

.images__left{
    /* margin-right: 1.125rem; */
}

.imagesLeft__top{
    margin-bottom: 1.125rem;
}

.imagesLeftTop__first{
    margin-right: 1.125rem;
}

.imagesLeftTop__second{
    margin-right: 1.125rem;
}

.imagesLeft__bottom{}

.images__right{}

